/* pc */
@media (min-width:1024px){


}
/* tablet */
@media (min-width:740px) and (max-width:1023px){
    .s-full-width{
        width: 100%;
    }

}
/* phone */

@media (max-width:739px){
    .s-full-width,
    .s-col-full{
        width: 100% !important;
    }

    #header{
        overflow: hidden;
        z-index: 1;
    }
    #nav{
        display: block;
    }
    #nav > li {
        /* bá» chu tren mot hang */
        display: block; 
    }
    #nav .subnav{
        position: initial;
        background: #333;
    }
    #nav .subnav li a{
        color: #fff;
        padding: 5px 41px;
    }
    #nav>li:first-child{
        display: inline-block;
    }
    .menu-mobile{
        display: block;
    }
    .search-btn{
        display: none;
    }
    #contents .member-item{
        margin-top: 30px;
        width: 100%;
    }
    #contents .member-img{
        width: 60%;
    }
    .contact-from{
        margin-top: 16px;
    }
  .smt8{
    margin-top: 8px;
    }
    .text-content{
        display: none;
    }
}